.tiling-layout {
    --item-count: 3;

    &__item {
        display: block;
    }

    @media (max-width: 649px) {
        &__item {
            margin-left: auto;
            margin-right: auto;

            & + & {
                margin-top: toRem(20);
            }
        }
    }

    @media (min-width: 650px) {
        width: #{t-columns(12) + t-columns(0)};
        margin-bottom: toRem(-30);

        &__item {
            width: calc(100% / var(--item-count) - #{t-columns(0)});
            margin-right: t-columns(0);
            margin-bottom: toRem(30);
        }

        @supports (display: flex) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @supports not (display: flex) {
            &__item {
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    @media (min-width: 1200px) {
        width: #{d-columns(12) + d-columns(0)};

        &__item {
            width: calc(100% / var(--item-count) - #{d-columns(0)});
            margin-right: d-columns(0);
        }
    }
}
