.tiling-layout {
    --item-count: 3;

    &__item {
        display: block;
        background-color: #fff;
    }

    @media (max-width: 649px) {
        &__item {
            max-width: toRem(400);
            margin-left: auto;
            margin-right: auto;

            & + & {
                margin-top: toRem(20);
            }
        }
    }

    @media (min-width: 650px) {
        margin-bottom: toRem(-30);

        &__item {
            width: t-columns(6);
            margin-bottom: toRem(30);
        }

        @supports (display: flex) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @supports not (display: flex) {
            &__item {
                display: inline-block;
                vertical-align: top;

                &:nth-child(even) {
                    margin-left: t-columns(0);
                }
            }
        }
    }

    @media (min-width: 980px) {
        width: #{t-columns(12) + t-columns(0)};

        &__item {
            width: #{33.333% - d-columns(0)};
            margin-right: d-columns(0);
        }
    }

    @media (min-width: 1200px) {
        width: #{d-columns(12) + d-columns(0)};

        &__item {
            width: calc(100% / var(--item-count) - #{d-columns(0)});
            margin-right: d-columns(0);
        }
    }
}
