.footer-layout {
    &__top,
    &__middle {
        margin-bottom: toRem(30);
    }

    &__bottom {
        position: relative;
    }

    @media (min-width: 1200px) {

        &__top,
        &__middle {
            display: inline-block;
            vertical-align: top;
            margin-bottom: toRem(30);
        }

        &__top {
            width: d-columns(8);
            //margin-right: -(d_columns(0));
        }

        &__middle {
            width: d_columns(3);
            margin-left: d_columns(1, true, true);
        }

        &__bottom {
            border-top: 1px solid rgba(#858fa4, 0.15);
            padding-top: toRem(50);
        }
    }
}
