.modal {
    position: fixed;
    top: 0;
    height: 100%;

    padding: toRem(25) toRem(10);
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;

    @media (max-width: 449px) {
        width: 100%;
        left: 0;
    }

    &--theme {
        &-dark {
            background-color: $dark;
        }

        &-light {
            background-color: #fff;
        }
    }

    &__close {
        position: absolute;
        top: toRem(27 - 14);
        right: toRem(16 - 14);
        padding: toRem(14);
        color: #858FA4; //FIXME: change color on vars
    }

    @media (min-width: 450px) {
        right: 0;
        width: toRem(320);
    }
}
