.input {
    padding: toRem(5) toRem(12);
    background-color: rgba(#f6f6f6, 0.2);
    overflow: hidden;
    border-radius: toRem(6);
    display: table;
    box-sizing: border-box;
    width: 100%;

    &__field {
        input {
            font-size: toRem(16);
            color: #fff;
            line-height: toRem(24);
            height: toRem(24);
            background-color: transparent;
        }
    }

    &__prefix,
    &__field,
    &__postfix {
        display: table-cell;
        vertical-align: middle;
    }
}
