@mixin newFont($family,$pathName,$weight, $style: normal) {
    @font-face {
        font-family: '#{$family}';
        src: url('/public/fonts/#{$pathName}.woff2') format('woff2'), url('/public/fonts/#{$pathName}.woff') format('woff');
        font-weight: #{$weight};
        font-style: $style;
        font-display: swap;
    }
}

//@include newFont($mainFontFamily, 'roboto-regular', 400);
//@include newFont($mainFontFamily, 'roboto-italic', 400, italic);
//@include newFont($mainFontFamily, 'roboto-500', 500);

@include newFont($icon, 'icons/iconfont', 400);
