.card-product {
    //width: toRem(270);
    background-color: #fff;

    &__image {
        //width: toRem(270);
        height: toRem(270);
        background-color: #c2c4ce;
    }

    &__content {
        //padding: toRem(20);
    }
}
