.search-content {
    margin-top: toRem(-13);

    &__item {
        padding-top: toRem(20);

        & + & {
            margin-top: toRem(20);
            border-top: 1px solid rgba(#858fa4, 0.15);
        }
    }
}
