$spaces: (
    black:     toRem(2),
    red:       toRem(4),
    green:     toRem(6),
    blue:      toRem(8),
    purple:    toRem(12),
    pink:      toRem(16),
    orange:    toRem(20),
    yellow:    toRem(24),
    gray:      toRem(32),
    beige:     toRem(40),
    brown:     toRem(76),
);
