.footer {
    padding-top: toRem(30);
    padding-bottom: toRem(20);
    background-color: $darken;

    &__container {
        overflow: hidden;
    }

    &__column {
        vertical-align: top;
        display: inline-block;
        box-sizing: border-box;
        width: m-columns(2);
        color: #858fa4;

        &:nth-child(even) {
            margin-left: m-columns(0);
        }

        &:not(&--bottom) {
            @media (max-width: 649px) {
                margin-bottom: toRem(30);
            }
        }

        h4 {
            font-size: toRem(16);
            line-height: toRem(22);
            font-weight: 500;
            margin-bottom: toRem(16);
            color: #fff;
        }
    }

    &__link {
        font-size: toRem(14);
        line-height: toRem(20);
        font-weight: 400;
        display: block;

        & + & {
            margin-top: toRem(8);
        }
    }

    &__social {
        i {
            background-color: #ccc;
            display: inline-block;
            vertical-align: middle;
        }

        i + i {
            margin-left: toRem(30);
        }
    }

    &__logo {
        @media (max-width: 649px) {
            margin-top: toRem(90);
            color: #fff;
        }

        span {
            display: inline-block;
            margin-top: toRem(16);
            color: #858fa4;
        }
    }

    &__paycards {
        @media (max-width: 649px) {
            margin-top: toRem(10);
        }
    }

    &__item {
        width: toRem(40);
        height: toRem(40);
        display: inline-block;
        vertical-align: middle;
        background-color: #ccc;

        & + & {
            margin-left: toRem(30);
        }

        img {
            width: 100%;
        }
    }

    @media (min-width: 650px) {
        padding-top: toRem(80);
        padding-bottom: toRem(80);

        &__column {
            width: t-columns(3);

            & + & {
                margin-left: t-columns(0);
            }
        }

        &__social {
            @media (max-width: 1199px) {
                position: absolute;
                top: 0;
                left: 45%;
                transform: translateX(-50%);
            }

            i + i {
                margin-left: toRem(12);
            }
        }

        &__logo,
        &__paycards {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }

        &__paycards {
            text-align: right;
        }
    }

    @media (min-width: 1200px) {
        &__column {
            width: 210 / 930 * 100%;

            & + & {
                margin-left: 30 / 930 * 100%;
            }
        }

        &__logo,
        &__paycards {
            display: inline-block;
            vertical-align: top;
            width: d-columns(3);
        }

        &__logo {
            width: d-columns(4);
        }

        &__paycards {
            text-align: left;
            margin-left: d-columns(0);
        }

        &__dealers,
        &__social {
            display: inline-block;
            vertical-align: top;
            margin-left: d-columns(0);
            width: d-columns(2);
        }

        &__dealers {
            width: d-columns(3);
            margin-left: d-columns(0);

            button + button {
                margin-left: toRem(24);
            }
        }
    }
}
